div{background-color: bisque;
font-family: 'Times New Roman', Times, serif;
font-size: 26px;padding: 10px;}
h3{color: darkblue;}
p{color: darkgreen;}
li{font-size: 26px;
font-family: 'Courier New', Courier, monospace;
}